.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #2e3428;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.controls {
  background-color: #7e3428;
  min-height: 5vh;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-left: 50px;
  width: 100%
}

.ctlh {
  column-width: 20px;
  font-size: xx-large;
  text-wrap: break-word;
  text-wrap: True;

}

.ctlheader {
  font-size: 50px;
}

.ctl {
  column-width: 5px;
  font-size: large;
  color: black;
}

textarea {
  width: 80%;
  height: 500px;
  font-size: 33px;
}

table {
  table-layout: auto;
  width: 100%;
}

th, td {
  border: 1px solid black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
