.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #2e3428;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.controls {
  background-color: #7e3428;

}

.ctlh {
  font-size: xx-large;
  text-wrap: break-word;
  text-wrap: True;
  width: 200px;
}

h1 {
  font-size: 100px;
}

.ctl {
  column-width: 5px;
  font-size: large;
  color: black;
  min-height: 50PX;
  font-size: xx-large;
  width: 100px;
}

textarea {
  width: 80%;
  height: 500px;
  font-size: 33px;
}

table {
  background-color: #285a7e;
  table-layout: auto;
  width: 50%;
  align-items: center;
  margin-left: 15%;
}

td {
  border: 1px solid black;

}

button { 
background-color: lightskyblue;
border: none;
color: black;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
border-radius: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
